Personalized Email Intelligence system.json
{
  "name": "Personalized Email Intelligence system",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "filters": {
          "labelIds": [
            "INBOX"
          ]
        }
      },
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.3,
      "position": [
        80,
        -16
      ],
      "id": "d606e72e-b0b9-4d7e-8499-0472530634d1",
      "name": "Gmail Trigger",
      "credentials": {
        "gmailOAuth2": {
          "id": "oPhG7Jo6VgahUOrl",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "3d1bee34-ba7d-486e-b026-cb157088ca89",
              "name": "Subject",
              "value": "={{ $json.Subject }}",
              "type": "string"
            },
            {
              "id": "74c5ea06-ef58-40ff-bc8b-c3cddce1a9b9",
              "name": "Body",
              "value": "={{ $json.snippet }}",
              "type": "string"
            },
            {
              "id": "d878d2e9-b3ed-481f-b3d4-2b0f0bc4a132",
              "name": "From",
              "value": "={{ $json.From }}",
              "type": "string"
            },
            {
              "id": "2b7021cb-559e-4372-bc43-7bf18a0a48c2",
              "name": "Date",
              "value": "={{ new Date(Number($json.internalDate)).toISOString() }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        272,
        -16
      ],
      "id": "c118e2cf-960f-4316-8ead-f4903f11c37d",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "\nconst text = (($json.snippet || $json.body) || \"\").toLowerCase();\n\n\nlet category = \"Information\";\nlet priority = \"Low\";\nlet deadline = \"Not Mentioned\";\n\n\nif (text.includes(\"assignment\") || text.includes(\"deadline\") || text.includes(\"submit\") || text.includes(\"project\")) {\n  category = \"Assignment\";\n} else if (text.includes(\"action\") || text.includes(\"urgent\") || text.includes(\"complete\")) {\n  category = \"Action Required\";\n} else if (text.includes(\"sale\") || text.includes(\"offer\")) {\n  category = \"Spam\";\n}\n\n\nif (category === \"Assignment\" || text.includes(\"urgent\") || text.includes(\"asap\") || text.includes(\"important\")) {\n  priority = \"High\";\n} else if (text.includes(\"reminder\") || text.includes(\"update\")) {\n  priority = \"Medium\";\n}\n\nconst dateMatch = text.match(/\\d{1,2}[\\/\\-]\\d{1,2}/); \nif (dateMatch) {\n  deadline = dateMatch[0];\n} else if (text.includes(\"tomorrow\")) {\n  deadline = \"Tomorrow\";\n}\n\n\nreturn {\n  json: {\n    ...$json,\n    category: category,\n    priority: priority,\n    deadline: deadline,\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        464,
        -16
      ],
      "id": "482d2562-064d-4dbc-a411-8a7028cef24f",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.choices[0].message.content.toLowerCase() }}",
                    "rightValue": "assignment",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    },
                    "id": "7e11f0b1-5ac2-4315-862f-a69e42faaf60"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Assignment"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "7b33c229-0782-4928-98ec-1674e8ea2740",
                    "leftValue": "={{ $json.choices[0].message.content.toLowerCase() }}",
                    "rightValue": "action required",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Action required"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "09d2e650-81a2-4eb8-bea9-c7673c9aad7f",
                    "leftValue": "={{ $json.choices[0].message.content.toLowerCase() }}",
                    "rightValue": "information",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "information"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "33193339-4797-4540-bab1-bb42117b15cf",
                    "leftValue": "={{ $json.choices[0].message.content.toLowerCase() }}",
                    "rightValue": "spam",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "spam"
            }
          ]
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        896,
        -128
      ],
      "id": "86cee401-c922-4e42-af75-f635b8385dd1",
      "name": "Switch"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1mlpUVOQ8YHclL5XdOeyqBWQATs1wFa8riyCacwFCv60",
          "mode": "list",
          "cachedResultName": "Email Tracker",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1mlpUVOQ8YHclL5XdOeyqBWQATs1wFa8riyCacwFCv60/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1mlpUVOQ8YHclL5XdOeyqBWQATs1wFa8riyCacwFCv60/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Content": "={{ $node[\"Code in JavaScript\"].json.snippet }}",
            "Category": "={{ $('Code in JavaScript').item.json.category }}",
            "Received Date": "={{ $now }}",
            "Deadline": "={{ $('Code in JavaScript').item.json.deadline }}",
            "Priority": "={{ $node[\"Code in JavaScript\"].json.priority }}",
            "Summary": "={{ $node[\"HTTP Request\"].json.choices[0].message.content }}",
            "Subject": "={{ $('Code in JavaScript').item.json.Subject }}"
          },
          "matchingColumns": [
            "Subject"
          ],
          "schema": [
            {
              "id": "Subject",
              "displayName": "Subject",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Content",
              "displayName": "Content",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Category",
              "displayName": "Category",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Received Date",
              "displayName": "Received Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Deadline",
              "displayName": "Deadline",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Priority",
              "displayName": "Priority",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Summary",
              "displayName": "Summary",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1200,
        -96
      ],
      "id": "b9cd6880-3bdb-4cee-9ffb-099f2c479b12",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "gd7KvMPw4rYFNUjy",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "calendar": {
          "__rl": true,
          "value": "aadyadev8@gmail.com",
          "mode": "list",
          "cachedResultName": "aadyadev8@gmail.com"
        },
        "end": "={{ $now.plus({ minutes: 5 }) }}",
        "additionalFields": {
          "description": "={{ $json[\"Summary\"] }}\n\n",
          "summary": "={{ $node[\"HTTP Request\"].json.choices[0].message.content.match(/Category:\\s*([^\\n\\r]*)/i)?.[1] || \"New Update\" }} | {{ $node[\"Code in JavaScript\"].json.Subject.substring(0, 30) }}..."
        }
      },
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.3,
      "position": [
        1216,
        192
      ],
      "id": "89fb5055-0577-4303-8f14-31e76ea63b71",
      "name": "Create an event",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "nFt9JxOcBSO1vcgj",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.groq.com/openai/v1/chat/completions",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"llama-3.1-8b-instant\",\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"You are a data extraction engine. Output ONLY the following format. Do not include any introductory text, conversational filler, or closing remarks.Write the summary as if YOU are the recipient. Mention the sender's name clearly. If information is missing, write 'None'.\\n\\nSummary:\\n- [Bullet 1]\\n- [Bullet 2]\\n- [Bullet 3]\\n\\nCategory: [Assignment/Information/Action Required]\\nDeadline: [Date or None]\\nPriority: [High/Medium/Low]\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": {{ JSON.stringify(\"Analyze this email: \" + $json.snippet) }}\n    }\n  ]\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        656,
        -32
      ],
      "id": "bbde616d-3008-41cb-845d-b8ee52ab1903",
      "name": "HTTP Request",
      "credentials": {
        "httpHeaderAuth": {
          "id": "YxDFYABHx1mOuD6Q",
          "name": "Header Auth account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Gmail Trigger": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ],
        [],
        [],
        [],
        [],
        [],
        []
      ]
    },
    "Append row in sheet": {
      "main": [
        [
          {
            "node": "Create an event",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false,
    "timeSavedMode": "fixed",
    "timezone": "Asia/Kolkata",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "versionId": "cd215001-eafd-41e0-a428-b8ec365cd747",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "a971daa26bb87c5c51e77ba6f13e3eedb0b93b4b68572bf56d4a6e7090395a85"
  },
  "id": "FaNYO10X5CvWYN5f",
  "tags": []
}